.input-container {
    margin-bottom: 10px;
}

.input-container input {
    padding: 10px;
    width: 100%;
}

.button {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    border-width: 0;
    border-radius: 5px;
    padding: 10px 40px;
}